html {
    text-align: center;
  }
  
  #keywords {
    font-size: 10px;
    color: blue;
  }
  
  body {
    background-color: lightblue;
  }
  
  #price {
    font-size: 50px;
  }
  
  h1 {
    color: white;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }