<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodsBase</title>
    <link rel="shortcut icon" href="https://b.zmtcdn.com/images/logo/zomato_logo_2017.png" type="image/x-icon">
    <!--<link rel="stylesheet" href="home_style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="script.js" > </script>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="nav">
            <div>
                <img src="/static/css/FoodsBaseDarkTransparent.png" height="50px">
            </div>
            <ul class="nav-bar">
              <li><a href="sellers.html">Cook</a></li>
              <li>Sign Up</li>
              <li>Login</a></li>
            </ul>
        </div>
        <div class="head">
            <h1>FoodsBase</h1>
            <h3>Bringing culture to your homes with homemade food</h3>
            <div class="search">
                <div class="search-item">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="search-item">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search by city, zipcode, or adress">
                    <input type="button" value="Submit" onclick="window.location.href='buyers.html';">
                </div>
            </div>
        </div>
        <div class="header-image">
            <img src="https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png" alt="">
        </div>
    </header>

    <section class="section-2">
        <div class="section-2-heading">
            <p>Nearby Cooks around your area</p>
        </div>
        <div class="section-2-container">
            <div class="section-2-items">
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
                <div class="section-2-item">
                    <p class="item-head">Cooks name</p>
                    <p class="item-subhead">Specalities</p>
                </div>
            </div>
        </div>
    </section>

    
    <footer>
        <code>
            Application
        </code>    
    </footer>
</body>
</html>
